


bkp/
catalogo.publicar/
configuraciones/
Landing/assets/
Landing/css/
Landing/img/
Landing/js/
Landing/scss/
publicar/002_Backend/
publicar/003_Frontend/
publicar/004_assets/
publicar/005_Redirect/
tiendapome.catalogo.backend/
tiendapome.catalogo.frontend/
tiendapome.frontend/node_modules/
tiendapome.frontend/Publicar/
tiendapome.redirect//
tiendapome.backend/.vs/tiendapome.backend/config/applicationhost.config
tiendapome.backend/.vs/tiendapome.backend/v16/.suo
tiendapome.backend/tiendapome.API/tiendapome.API.csproj.user
tiendapome.backend/tiendapome.API/Web.config
tiendapome.backend/tiendapome.API/bin/
tiendapome.backend/tiendapome.API/obj/
tiendapome.backend/tiendapome.API/logger/
tiendapome.backend/tiendapome.Entidades/bin/
tiendapome.backend/tiendapome.Entidades/obj/
tiendapome.backend/tiendapome.Impresion/bin/
tiendapome.backend/tiendapome.Impresion/obj/
tiendapome.backend/tiendapome.Repository/bin/
tiendapome.backend/tiendapome.Repository/obj/
tiendapome.backend/tiendapome.Servicios/bin/
tiendapome.backend/tiendapome.Servicios/obj/
