


bkp/
catalogo.publicar/
configuraciones/
Landing/assets/
Landing/css/
Landing/img/
Landing/js/
Landing/scss/
publicar/
tiendapome.catalogo.backend/
tiendapome.catalogo.frontend/
tiendapome.frontend/node_modules/
tiendapome.frontend/Publicar/
tiendapome.redirect//
