USE [hannajoyas]
GO
/****** Object:  StoredProcedure [dbo].[sp_PedidoDescontarStock]    Script Date: 25/5/2021 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_PedidoDescontarStock] (@idPedido int)as 

set nocount on

begin transaction 

insert into dbo.dm_ActualizacionesStock
select	'[ANTES][PedidoDescontarStock]' as Momento, getdate() as Fecha, ped.IdPedido, ped.Numero, 
		ped.IdCliente, ps.IdProductoStock as ProductoStock_IdProductoStock, ps.IdProducto as ProductoStock_IdProducto, ps.IdMedida as ProductoStock_IdMedida, ps.Stock as ProductoStock_Stock, ps.Reservado as ProductoStock_Reservado,
		pip.IdPedidoItemProducto as PedidoItemProducto_IdPedidoItemProducto, pip.IdProductoStock as PedidoItemProducto_IdProductoStock, pip.IdMedida as PedidoItemProducto_IdMedida, pip.IdPedidoItem as PedidoItemProducto_IdPedidoItem, pip.Cantidad as PedidoItemProducto_Cantidad, pip.IdEstadoItem as PedidoItemProducto_IdEstadoItem, pip.StockDisponible as PedidoItemProducto_StockDisponible, pip.StockReservado as PedidoItemProducto_StockReservado
from tp_ProductoStock ps
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock and pip.Cantidad > 0
	inner join tp_PedidoItems			pit	on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
where isnull(pip.IdEstadoItem, 0) = 0 and ped.IdPedido = @idPedido;


update ps 
set ps.Stock = ps.Stock - pip.Cantidad,
	ps.Reservado = ps.Reservado - pip.StockReservado
from tp_ProductoStock ps
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit	on pip.IdPedidoItem = pit.IdPedidoItem
where isnull(pip.IdEstadoItem, 0) = 0 and pit.IdPedido = @idPedido ;


insert into dbo.dm_ActualizacionesStock 
select	'[DESPUES][PedidoDescontarStock]' as Momento, getdate() as Fecha, ped.IdPedido, ped.Numero, 
		ped.IdCliente, ps.IdProductoStock as ProductoStock_IdProductoStock, ps.IdProducto as ProductoStock_IdProducto, ps.IdMedida as ProductoStock_IdMedida, ps.Stock as ProductoStock_Stock, ps.Reservado as ProductoStock_Reservado,
		0 as PedidoItemProducto_IdPedidoItemProducto, 0 as PedidoItemProducto_IdProductoStock, 0 as PedidoItemProducto_IdMedida, 0 as PedidoItemProducto_IdPedidoItem, 0 as PedidoItemProducto_Cantidad, 0 as PedidoItemProducto_IdEstadoItem, 0 as PedidoItemProducto_StockDisponible, 0 as PedidoItemProducto_StockReservado
from tp_ProductoStock ps
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock and pip.Cantidad > 0
	inner join tp_PedidoItems			pit	on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
where isnull(pip.IdEstadoItem, 0) = 0  and ped.IdPedido = @idPedido;


update pip 
set pip.StockReservado = 0, 
	pip.IdEstadoItem = 10
from tp_PedidoItemProducto	pip 
	inner join tp_PedidoItems			pit	on pip.IdPedidoItem = pit.IdPedidoItem
where pit.IdPedido = @idPedido; 

commit

set nocount off
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarMovimientosStock]    Script Date: 25/5/2021 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[sp_ProcesarMovimientosStock] (@idProductoStock int = null) as 

IF OBJECT_ID('tempdb..#base_fechainicial') IS NOT NULL
	drop table #base_fechainicial
IF OBJECT_ID('tempdb..#base_cargainicial') IS NOT NULL
	drop table #base_cargainicial
IF OBJECT_ID('tempdb..#tmpMovimiStockIngreso') IS NOT NULL
	drop table #tmpMovimiStockIngreso
IF OBJECT_ID('tempdb..#tmpMovimiStockSalida') IS NOT NULL
	drop table #tmpMovimiStockSalida
IF OBJECT_ID('tempdb..#tmpNotaPedido') IS NOT NULL
	drop table #tmpNotaPedido
IF OBJECT_ID('tempdb..#tmpNotaCredito') IS NOT NULL
	drop table #tmpNotaCredito
IF OBJECT_ID('tempdb..#tmpPedidosFinalizados') IS NOT NULL
	drop table #tmpPedidosFinalizados
IF OBJECT_ID('tempdb..#tmpPedidosEnProceso') IS NOT NULL
	drop table #tmpPedidosEnProceso
IF OBJECT_ID('tempdb..#tmpStockFisico') IS NOT NULL
	drop table #tmpStockFisico
IF OBJECT_ID('tempdb..#tmpStockReservado') IS NOT NULL
	drop table #tmpStockReservado
IF OBJECT_ID('tempdb..#tmpStockReservado') IS NOT NULL
	drop table #tmpStockReservado
IF OBJECT_ID('tempdb..#tmpPedidosCancelados') IS NOT NULL
	drop table #tmpPedidosCancelados
IF OBJECT_ID('tempdb..#tmpBaseFinal') IS NOT NULL
	drop table #tmpBaseFinal


truncate table dbo.dm_MovimientosStock

--declare @idProductoStock int 
--set @idProductoStock = 6031

/* determina fecha desde por IdProductoStock para obtener los movimientos */
select ps.IdProductoStock, isnull(psm.IdTipoMovimiento, 1) as IdTipoMovimiento, 
		isnull(max(Fecha), convert(datetime, '2020-01-01 00:00:00')) as Fecha
into #base_fechainicial
from tp_ProductoStock ps 
	left join (
		select IdProductoStock, IdTipoMovimiento, Fecha 
		from tp_ProductoStockMovimientos
		group by IdProductoStock, IdTipoMovimiento, Fecha 
		having IdTipoMovimiento = 1
	) psm on ps.IdProductoStock = psm.IdProductoStock
group by ps.IdProductoStock, IdTipoMovimiento
having (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)	

/* ultimo registro TIPO = 1 - CARGA INICIAL */
select  1 as Orden, tms.Descripcion AS Movimiento, psm.Fecha, 
		p.Codigo, ps.IdProductoStock, '' as Pedido, psm.Observaciones, 
		ps.IdMedida, psm.Cantidad
into #base_cargainicial
from tp_ProductoStockMovimientos		as psm
	inner join #base_fechainicial		as	bci on psm.IdProductoStock = bci.IdProductoStock 
										and psm.IdTipoMovimiento = bci.IdTipoMovimiento
										and psm.Fecha = bci.Fecha
	inner join tp_ProductoStock			as ps on psm.IdProductoStock = ps.IdProductoStock
	inner join tp_Productos				as p  on ps.IdProducto = p.IdProducto 
	inner join tp_TiposMovimientoStock	as tms on psm.IdTipoMovimiento = tms.IdTipoMovimiento


/* movimientos del TIPO = 2 - INGRESO */
select  2 as Orden, tms.Descripcion AS Movimiento, psm.Fecha, 
		p.Codigo, ps.IdProductoStock, '' as Pedido, psm.Observaciones, ps.IdMedida, psm.Cantidad
into #tmpMovimiStockIngreso
from tp_ProductoStockMovimientos as psm
	inner join #base_fechainicial	as	bci on psm.IdProductoStock = bci.IdProductoStock and psm.Fecha > bci.Fecha
	inner join tp_ProductoStock		as ps on psm.IdProductoStock = ps.IdProductoStock
	inner join tp_Productos			as p  on ps.IdProducto = p.IdProducto 
	inner join tp_TiposMovimientoStock as tms on psm.IdTipoMovimiento = tms.IdTipoMovimiento
where	(psm.IdTipoMovimiento in (2))
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)

	
/* movimientos del TIPO = 3 - SALIDA */
select  2 as Orden, tms.Descripcion AS Movimiento, psm.Fecha, 
		p.Codigo, ps.IdProductoStock, '' as Pedido, psm.Observaciones, ps.IdMedida, (psm.Cantidad * -1) as Cantidad
into #tmpMovimiStockSalida
from tp_ProductoStockMovimientos as psm
	inner join #base_fechainicial	as	bci on psm.IdProductoStock = bci.IdProductoStock and psm.Fecha > bci.Fecha
	inner join tp_ProductoStock		as ps on psm.IdProductoStock = ps.IdProductoStock
	inner join tp_Productos			as p  on ps.IdProducto = p.IdProducto 
	inner join tp_TiposMovimientoStock as tms on psm.IdTipoMovimiento = tms.IdTipoMovimiento
where	(psm.IdTipoMovimiento in (3))
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)

	
/* movimientos del PEDIDOS FINALIZADOS/FACTURADOS */
select	3 as Orden, 'PEDIDOS FINALIZADOS/FACTURADOS' AS Movimiento, 
		ped.Fecha, p.Codigo, ps.IdProductoStock, convert(varchar, ped.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		ps.IdMedida, (pip.Cantidad*-1) as Cantidad
into #tmpPedidosFinalizados
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join #base_fechainicial		bci on pip.IdProductoStock = bci.IdProductoStock and ped.Fecha > bci.Fecha
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where   est.IdEstado in ( 4, 9 ) and pip.Cantidad > 0
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)
order by p.Codigo


/* movimientos del NOTA DE PEDIDO */
--Movimientos de stock que se facturaron directamente no pasaron por el circuito de pedido
select	4 as Orden, upper(dvt.Descripcion) AS Movimiento, 
		dv.Fecha, p.Codigo, ps.IdProductoStock, convert(varchar, dv.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		ps.IdMedida, (dvi.Cantidad*-1)	as Cantidad
into #tmpNotaPedido
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_DocumentoVentaItems	dvi on dvi.IdProductoStock = ps.IdProductoStock
	inner join tp_DocumentosVenta		dv  on dv.IdVenta = dvi.IdVenta
	inner join #base_fechainicial		bci on dvi.IdProductoStock = bci.IdProductoStock and dv.Fecha > bci.Fecha
	inner join tp_VentaTiposComprobante dvt on dv.IdTipo = dvt.IdVentaTipoComprobante
	inner join tp_Clientes				cli on dv.IdCliente = cli.IdCliente
where dv.IdTipo in (1) and dvi.IdProductoStock > 0 and isnull(dvi.IdPedidoItemProducto, 0) = 0
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)
order by p.Codigo, dv.IdTipo


/* movimientos del NOTA DE CREDITO*/
--Movimientos de stock que se facturaron directamente no pasaron por el circuito de pedido
select	4 as Orden, upper(dvt.Descripcion) AS Movimiento, 
		dv.Fecha, p.Codigo, ps.IdProductoStock, convert(varchar, dv.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		ps.IdMedida, dvi.Cantidad as Cantidad
into #tmpNotaCredito
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_DocumentoVentaItems	dvi on dvi.IdProductoStock = ps.IdProductoStock
	inner join tp_DocumentosVenta		dv  on dv.IdVenta = dvi.IdVenta
	inner join #base_fechainicial		bci on dvi.IdProductoStock = bci.IdProductoStock and dv.Fecha > bci.Fecha
	inner join tp_VentaTiposComprobante dvt on dv.IdTipo = dvt.IdVentaTipoComprobante
	inner join tp_Clientes				cli on dv.IdCliente = cli.IdCliente
where dv.IdTipo in (2) and dvi.IdProductoStock > 0 and isnull(dvi.IdPedidoItemProducto, 0) = 0
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)
order by p.Codigo, dv.IdTipo


/* obtnemos el STOCK FISICO */
select	5 as Orden, 'STOCK FISICO' AS Movimiento, 
		getdate() as Fecha, p.Codigo, ps.IdProductoStock, '' as Pedido, 'Stock Fisico'  as Observaciones,
		ps.IdMedida, ps.Stock as Cantidad
into #tmpStockFisico
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
where ps.IdProductoStock = @idProductoStock or @idProductoStock is null
order by p.Codigo

/* movimientos del PEDIDOS SOLICITADOS/EN PROCESO*/
select	6 as Orden, 'PEDIDOS SOLICITADOS/EN PROCESO' AS Movimiento, 
		ped.Fecha, p.Codigo, ps.IdProductoStock, convert(varchar, ped.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		ps.IdMedida, pip.Cantidad
into #tmpPedidosEnProceso
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join #base_fechainicial		bci on pip.IdProductoStock = bci.IdProductoStock and ped.Fecha > bci.Fecha
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where   est.IdEstado in (2,3)  and pip.Cantidad > 0
	and (ps.IdProductoStock = @idProductoStock or @idProductoStock is null)
order by p.Codigo


/* obtnemos el STOCK RESERVADO */
select	7 as Orden, 'STOCK RESERVADO' AS Movimiento, 
		getdate() as Fecha, p.Codigo, ps.IdProductoStock, '' as Pedido, 'Stock Reservado'  as Observaciones,
		ps.IdMedida, ps.Reservado as Cantidad
into #tmpStockReservado
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
where ps.IdProductoStock = @idProductoStock or @idProductoStock is null
order by p.Codigo


/* movimientos del PEDIDOS CENCELADOS*/
select	8 as Orden, 'PEDIDOS CANCELADOS' AS Movimiento, 
		ped.Fecha, p.Codigo, ps.IdProductoStock, convert(varchar, ped.Numero) as Pedido, ped.Observaciones as Observaciones,
		ps.IdMedida, pip.Cantidad
into #tmpPedidosCancelados
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join #base_fechainicial		bci on pip.IdProductoStock = bci.IdProductoStock and ped.Fecha > bci.Fecha
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where est.IdEstado in (7)  and pip.Cantidad > 0
	and ps.IdProductoStock = @idProductoStock or @idProductoStock is null
order by p.Codigo



select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
into #tmpBaseFinal
from #base_cargainicial

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpMovimiStockIngreso

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpMovimiStockSalida

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpPedidosFinalizados

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpNotaPedido

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpNotaCredito

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpStockFisico

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpPedidosEnProceso

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpStockReservado

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [IdProductoStock], [Pedido], [Observaciones], [IdMedida], [Cantidad]
from #tmpPedidosCancelados


insert into dbo.dm_MovimientosStock 
select	t.Descripcion as Tipo, c.Descripcion as Categoria, s.Descripcion as Subcategoria, p.Codigo, bf.IdProductoStock,
		bf.Orden, bf.Movimiento, 
		bf.Fecha, bf.Pedido, bf.Observaciones, bf.IdMedida, m.Observaciones as Medida, bf.Cantidad
from tp_Productos				p 
	inner join tp_Subcategorias	s	on s.IdSubcategoria = p.IdSubcategoria 
	inner join tp_Categorias	c	on c.IdCategoria = s.IdCategoria
	inner join tp_Tipos			t	on t.IdTipo = c.IdTipo
	inner join #tmpBaseFinal	bf	on p.Codigo = bf.Codigo	
	inner join tp_Medidas		m	on bf.IdMedida = m.IdMedida
order by t.Descripcion, c.Descripcion, s.Descripcion, p.Codigo, bf.IdMedida


select ROW_NUMBER() OVER(ORDER BY IdProductoStock, Orden, Fecha) AS NroFila, 
		Tipo,Categoria,Subcategoria,Codigo,IdProductoStock,Orden,Movimiento,
		convert(varchar(20), Fecha, 103) as Fecha,
		Pedido,Observaciones,IdMedida,Medida,Cantidad 
from dbo.dm_MovimientosStock

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarMovimientosStockDetalleMedida]    Script Date: 25/5/2021 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_ProcesarMovimientosStockDetalleMedida] as 

IF OBJECT_ID('tempdb..#tmpMovimiStock') IS NOT NULL
	drop table #tmpMovimiStock
IF OBJECT_ID('tempdb..#tmpPedidosFinalizados') IS NOT NULL
	drop table #tmpPedidosFinalizados
IF OBJECT_ID('tempdb..#tmpPedidosEnProceso') IS NOT NULL
	drop table #tmpPedidosEnProceso
IF OBJECT_ID('tempdb..#tmpStockFisico') IS NOT NULL
	drop table #tmpStockFisico
IF OBJECT_ID('tempdb..#tmpStockReservado') IS NOT NULL
	drop table #tmpStockReservado
IF OBJECT_ID('tempdb..#tmpStockReservado') IS NOT NULL
	drop table #tmpStockReservado
IF OBJECT_ID('tempdb..#tmpPedidosCancelados') IS NOT NULL
	drop table #tmpPedidosCancelados

truncate table dbo.dm_MovimientosStock

--declare @codigo int
--set @codigo = 2498

select  1 as Orden, 'Movimiento Stock' AS Movimiento, 
		psm.Fecha, p.Codigo, '' as Pedido, psm.Observaciones,
		case ps.IdMedida when 1	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(psm.Cantidad, 0) else 0 end as 'Talle Unico'
into #tmpMovimiStock
from tp_ProductoStockMovimientos as psm
	inner join tp_ProductoStock as ps on psm.IdProductoStock = ps.IdProductoStock
	inner join tp_Productos		as p  on ps.IdProducto = p.IdProducto 
--where p.Codigo = @codigo


select	2 as Orden, 'Pedidos Finalizados/Facturados' AS Movimiento, 
		ped.Fecha, p.Codigo, convert(varchar, ped.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		case ps.IdMedida when 1	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle Unico'
into #tmpPedidosFinalizados
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where est.IdEstado in ( 4, 9 ) 
	--and p.Codigo = @codigo
order by p.Codigo


select	3 as Orden, 'Stock Fisico' AS Movimiento, 
		getdate() as Fecha, p.Codigo, '' as Pedido, 'Stock Fisico'  as Observaciones,
		case ps.IdMedida when 1	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(ps.Stock, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(ps.Stock, 0) else 0 end as 'Talle Unico'
into #tmpStockFisico
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
--where p.Codigo = @codigo
order by p.Codigo

select	4 as Orden, 'Pedidos Solicitados / En Proceso' AS Movimiento, 
		ped.Fecha, p.Codigo, convert(varchar, ped.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		case ps.IdMedida when 1	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle Unico'
into #tmpPedidosEnProceso
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where est.IdEstado in (2,3) 
	--and p.Codigo = @codigo
order by p.Codigo


select	5 as Orden, 'Stock Reservado' AS Movimiento, 
		getdate() as Fecha, p.Codigo, '' as Pedido, 'Stock Reservado'  as Observaciones,
		case ps.IdMedida when 1	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(ps.Reservado, 0) else 0 end as 'Talle Unico'
into #tmpStockReservado
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
--where p.Codigo = @codigo
order by p.Codigo



select	6 as Orden, 'Pedidos Cancelados' AS Movimiento, 
		ped.Fecha, p.Codigo, convert(varchar, ped.Numero) as Pedido, cli.Email + ' - '+ isnull(cli.Nombre, '') + ' ' + isnull(cli.Apellido, '') + ' - ' + isnull(cli.NombreFantasia, '')  as Observaciones,
		case ps.IdMedida when 1	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 6',
		case ps.IdMedida when 2	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 7',
		case ps.IdMedida when 3	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 8',
		case ps.IdMedida when 4	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 9',
		case ps.IdMedida when 5	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 10',
		case ps.IdMedida when 6	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 17',
		case ps.IdMedida when 7	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 18',
		case ps.IdMedida when 8	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 19',
		case ps.IdMedida when 9	 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 20',
		case ps.IdMedida when 10 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle 21',
		case ps.IdMedida when 11 then ISNULL(pip.Cantidad, 0) else 0 end as 'Talle Unico'
into #tmpPedidosCancelados
from tp_Productos p 
	inner join tp_ProductoStock			ps	on p.IdProducto = ps.IdProducto	
	inner join tp_PedidoItemProducto	pip on ps.IdProductoStock = pip.IdProductoStock
	inner join tp_PedidoItems			pit on pip.IdPedidoItem = pit.IdPedidoItem
	inner join tp_Pedidos				ped on pit.IdPedido = ped.IdPedido
	inner join tp_Estados				est on ped.IdEstado = est.IdEstado
	inner join tp_Clientes				cli on ped.IdCliente = cli.IdCliente
where est.IdEstado in (7) 
	--and p.Codigo = @codigo
order by p.Codigo


select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
into #tmpBaseFinal
from #tmpMovimiStock
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
from #tmpPedidosFinalizados
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
from #tmpStockFisico
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]


union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
from #tmpPedidosEnProceso
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]


union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
from #tmpStockReservado
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]

union all

select  [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones], 
		sum([Talle 6])	as [Talle 6], 
		sum([Talle 7])	as [Talle 7], 
		sum([Talle 8])	as [Talle 8], 
		sum([Talle 9])	as [Talle 9], 
		sum([Talle 10]) as [Talle 10], 
		sum([Talle 17]) as [Talle 17], 
		sum([Talle 18]) as [Talle 18], 
		sum([Talle 19]) as [Talle 19], 
		sum([Talle 20]) as [Talle 20], 
		sum([Talle 21]) as [Talle 21], 
		sum([Talle Unico]) as [Talle Unico]
from #tmpPedidosCancelados
group by [Orden], [Movimiento], [Fecha], [Codigo], [Pedido], [Observaciones]




insert into dbo.dm_MovimientosStock ([Tipo], [Categoria], [Subcategoria], [Codigo], [Orden], [Movimiento], [Fecha], [Pedido], [Observaciones], [Talle 6], [Talle 7], [Talle 8], [Talle 9], [Talle 10], [Talle 17], [Talle 18], [Talle 19], [Talle 20], [Talle 21], [Talle Unico])
select	t.Descripcion as Tipo, c.Descripcion as Categoria, s.Descripcion as Subcategoria, p.Codigo,
		bf.Orden, bf.Movimiento, bf.Fecha, bf.Pedido, bf.Observaciones,
		bf.[Talle 6], bf.[Talle 7], bf.[Talle 8], bf.[Talle 9], bf.[Talle 10], bf.[Talle 17], bf.[Talle 18], bf.[Talle 19], bf.[Talle 20], bf.[Talle 21], bf.[Talle Unico] 
from tp_Productos p 
	inner join tp_Subcategorias			s	on s.IdSubcategoria = p.IdSubcategoria 
	inner join tp_Categorias			c	on c.IdCategoria = s.IdCategoria
	inner join tp_Tipos					t	on t.IdTipo = c.IdTipo
	inner join #tmpBaseFinal			bf	on p.Codigo = bf.Codigo	
--where p.Codigo = @codigo
order by t.Descripcion, c.Descripcion, s.Descripcion, p.Codigo


select * from dbo.dm_MovimientosStock

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarMovimientosStockInidicadores]    Script Date: 25/5/2021 18:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_ProcesarMovimientosStockInidicadores] as

IF OBJECT_ID('tempdb..#base_inicial') IS NOT NULL
	drop table #base_inicial
IF OBJECT_ID('tempdb..#base_ordenada') IS NOT NULL
	drop table #base_ordenada


truncate table dbo.dm_MovimientosStockInidicadores

--declare @codigo int
--set @codigo = 2498

select Tipo, Categoria, Subcategoria, Codigo, IdProductoStock, Orden, Movimiento, IdMedida, Sum(Cantidad) as Cantidad
into #base_inicial
from dbo.dm_MovimientosStock
group by Tipo, Categoria, Subcategoria, Codigo, IdProductoStock, Orden, Movimiento, IdMedida
--having Codigo = @codigo
order by Tipo, Categoria, Subcategoria, Codigo, IdProductoStock, IdMedida, Orden, Movimiento

select	bi.Tipo, bi.Categoria, bi.Subcategoria, bi.Codigo, bi.IdProductoStock, m.Observaciones as Medida, 
		case when bi.Orden = 1										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as CargaInicial, 
		case when bi.Orden = 2 and bi.Movimiento = 'INGRESO'			then ISNULL(Sum(bi.Cantidad), 0) else 0 end as Ingresos, 
		case when bi.Orden = 2 and bi.Movimiento = 'SALIDA'			then ISNULL(Sum(bi.Cantidad), 0) else 0 end as Salidas, 
		case when bi.Orden = 3										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as PedidosFinalizados, 
		case when bi.Orden = 4 and bi.Movimiento = 'NOTA DE PEDIDO'	then ISNULL(Sum(bi.Cantidad), 0) else 0 end as NotasPedido, 
		case when bi.Orden = 4 and bi.Movimiento = 'NOTA DE CRÉDITO'	then ISNULL(Sum(bi.Cantidad), 0) else 0 end as NotasCredito, 
		case when bi.Orden = 5										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as StockFisico, 
		case when bi.Orden = 6										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as PedidosSolicitadosEnProceso, 
		case when bi.Orden = 7										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as StockReservado, 
		case when bi.Orden = 8										then ISNULL(Sum(bi.Cantidad), 0) else 0 end as PedidosCancelados
into #base_ordenada
from #base_inicial bi 
	inner join tp_Medidas m on bi.idMedida = m.IdMedida
group by bi.Tipo, bi.Categoria, bi.Subcategoria, bi.Codigo, bi.IdProductoStock, m.Observaciones, bi.Orden, bi.Movimiento


insert into dbo.dm_MovimientosStockInidicadores

select	Tipo, Categoria, Subcategoria, Codigo, IdProductoStock, Medida, 
		sum(CargaInicial) as CargaInicial, 
		Sum(Ingresos) as Ingresos, 
		Sum(Salidas) as Salidas, 
		Sum(PedidosFinalizados) as PedidosFinalizados,
		Sum(NotasPedido) as NotasPedido,  
		Sum(NotasCredito) as NotasCredito, 		
		(Sum(CargaInicial) + Sum(Ingresos) + Sum(Salidas) + Sum(PedidosFinalizados) + Sum(NotasPedido) + Sum(NotasCredito)) as StockFisicoCalculado, 
		Sum(StockFisico) as StockFisico, 
		((Sum(CargaInicial) + Sum(Ingresos) + Sum(Salidas) + Sum(PedidosFinalizados) + Sum(NotasPedido) + Sum(NotasCredito)) - Sum(StockFisico)) as StockFisicoDiferencia,
		Sum(PedidosSolicitadosEnProceso) as StockReservadoCalculado, 
		Sum(StockReservado) as StockReservado, 
		Sum(PedidosSolicitadosEnProceso) - Sum(StockReservado) as StockReservadodiferencia, 
		Sum(PedidosCancelados) as PedidosCancelados  

from #base_ordenada
group by Tipo, Categoria, Subcategoria, Codigo, IdProductoStock, Medida


select * from dbo.dm_MovimientosStockInidicadores



GO
